@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'AvenirLTStd-Book';
  src: url('./../fonts/AvenirLTStd-Book.woff2') format('woff2'),
      url('./../fonts/AvenirLTStd-Book.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'AvenirLTStd-HeavyOblique';
  src: url('./../fonts/AvenirLTStd-HeavyOblique.woff2') format('woff2'),
      url('./../fonts/AvenirLTStd-HeavyOblique.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'AvenirLTStd-LightOblique';
  src: url('./../fonts/AvenirLTStd-LightOblique.woff2') format('woff2'),
      url('./../fonts/AvenirLTStd-LightOblique.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'AvenirLTStd-MediumOblique';
  src: url('./../fonts/AvenirLTStd-MediumOblique.woff2') format('woff2'),
      url('./../fonts/AvenirLTStd-MediumOblique.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'AvenirLTStd-Black';
  src: url('./../fonts/AvenirLTStd-Black.woff2') format('woff2'),
      url('./../fonts/AvenirLTStd-Black.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'AvenirLTStd-Oblique';
  src: url('./../fonts/AvenirLTStd-Oblique.woff2') format('woff2'),
      url('./../fonts/AvenirLTStd-Oblique.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'AvenirLTStd-Medium';
  src: url('./../fonts/AvenirLTStd-Medium.woff2') format('woff2'),
      url('./../fonts/AvenirLTStd-Medium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'AvenirLTStd-Heavy';
  src: url('./../fonts/AvenirLTStd-Heavy.woff2') format('woff2'),
      url('./../fonts/AvenirLTStd-Heavy.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Avenir-Book';
  src: url('./../fonts/Avenir-Book.woff2') format('woff2'),
      url('./../fonts/Avenir-Book.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'AvenirLTStd-Light';
  src: url('./../fonts/AvenirLTStd-Light.woff2') format('woff2'),
      url('./../fonts/AvenirLTStd-Light.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'AvenirLTStd-BookOblique';
  src: url('./../fonts/AvenirLTStd-BookOblique.woff2') format('woff2'),
      url('./../fonts/AvenirLTStd-BookOblique.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Avenir-Heavy';
  src: url('./../fonts/Avenir-Heavy.woff2') format('woff2'),
      url('./../fonts/Avenir-Heavy.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'AvenirLTStd-BlackOblique';
  src: url('./../fonts/AvenirLTStd-BlackOblique.woff2') format('woff2'),
      url('./../fonts/AvenirLTStd-BlackOblique.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'AvenirLTStd-Roman';
  src: url('./../fonts/AvenirLTStd-Roman.woff2') format('woff2'),
      url('./../fonts/AvenirLTStd-Roman.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Avenir-Medium';
  src: url('./../fonts/Avenir-Medium.woff2') format('woff2'),
      url('./../fonts/Avenir-Medium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.font-avenir-book {
  font-family: 'AvenirLTStd-Book', sans-serif;
}

.font-avenir-heavy-oblique {
  font-family: 'AvenirLTStd-HeavyOblique', sans-serif;
}

.font-avenir-light-oblique {
  font-family: 'AvenirLTStd-LightOblique', sans-serif;
}

.font-avenir-medium-oblique {
  font-family: 'AvenirLTStd-MediumOblique', sans-serif;
}

.font-avenir-black {
  font-family: 'AvenirLTStd-Black', sans-serif;
}

.font-avenir-oblique {
  font-family: 'AvenirLTStd-Oblique', sans-serif;
}

.font-avenir-medium {
  font-family: 'AvenirLTStd-Medium', sans-serif;
}

.font-avenir-heavy {
  font-family: 'AvenirLTStd-Heavy', sans-serif;
}

.font-avenir-book-oblique {
  font-family: 'AvenirLTStd-BookOblique', sans-serif;
}

.font-avenir-light {
  font-family: 'AvenirLTStd-Light', sans-serif;
}

.font-avenir-black-oblique {
  font-family: 'AvenirLTStd-BlackOblique', sans-serif;
}

.font-avenir-roman {
  font-family: 'AvenirLTStd-Roman', sans-serif;
}

.font-avenir-medium-alt {
  font-family: 'Avenir-Medium', sans-serif;
}

.font-avenir-book-alt {
  font-family: 'Avenir-Book', sans-serif;
}

.font-avenir-heavy-alt {
  font-family: 'Avenir-Heavy', sans-serif;
}
